html {
  height: 100%;
  width: 100%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5%;
  padding-top: 5px;
}

header {
  background-color: #FDECEF;
  font-family: "American Typewriter", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
}

h1, h2, h3 {
  color: #86A5D9;
  text-align: center
}

body {
  margin: 0;
  padding: 0;
  background-color: #515052;
}

main > p {
  font-family: "Times New Roman", sans-serif;
  color: #86A5D9;
  text-align: center;
  font-size: 14px;
}
main {
  border-bottom: 3px solid #000;
}

ul {
  font-family: "Times New Roman", sans-serif;
  color: #86A5D9;
  padding-left: 190px;
}

a {
  text-align: center;
  margin: 0 0 0 62px;
  font-size: 20px;
}

footer > p {
  color: black;
  text-align: center;
  font-size: 10px;
  background-color: #FDECEF;
  margin: 0;
  padding: 10px;
}

article {
  background-color: #FDECEF;
  color: #86A5D9;
  font-family: Tahoma, sans-serif;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
}
ol {
  padding-left: 170px;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #FF3C38; 
}

h4, article > h4 {
  font-family: "Times New Roman", sans-serif;
  color: #86A5D9;
  text-align: center;
}
